<!--app.component.ts-->
<kal-card>
  <kal-card-header>
    Ajouter un Utilisateur
  </kal-card-header>
  <kal-card-content>
    <kal-form-field>
      <kal-input [formControl]="addControl" placeholder="Nom d'utilisateur"></kal-input>
    </kal-form-field>
    <kal-button (click)="createUser()">Ajouter</kal-button>
  </kal-card-content>
</kal-card>
<kal-card>
  <kal-card-header>
    Liste des utilisateurs
  </kal-card-header>
  <kal-card-content>
    <kal-form-field>
      <kal-input [formControl]="searchControl" placeholder="Filtre">
      </kal-input>
    </kal-form-field>
    <kal-list [dataSource]="users$">
      <ng-template kalListItem let-item="item">
        {{item.id}} {{item.name}}
      </ng-template>
    </kal-list>
  </kal-card-content>
</kal-card>